# CakePHP 3

/vendor/*
/config/app.php
/config/Setting.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty
tmp/*
/tmp/*

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
tmp/*
tmp/cache/twigView/13/1383facd4b9e413c9a1008402aab97afe044769417d4daaefb0398980a94e390.php
tmp/cache/models/empty
tmp/cache/persistent/empty
tmp/cache/twigView/13/1383facd4b9e413c9a1008402aab97afe044769417d4daaefb0398980a94e390.php
tmp/cache/twigView/14/146b98da10ed8c66e077b035a75b818790abf95a2d1331df55c213cfc6937eca.php
