body{background:#fff;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
@media(min-width:992px) {
#wrapper{margin-left: 200px;padding: 70px 15px 15px;}
.navbar-nav.side-nav{background: #585f66;position:fixed;top:56px;flex-direction: column;left:0;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.rigth_menu{
    position: fixed;
    right: 20px;
}

.table_button{    
    margin-top: -5 !important;
    margin-bottom: 10px !important;
    margin-left: -5 !important;
    margin-left: -6 !important;
    margin-left: -8 !important;
    margin-left: -7 !important;
    margin-top: -3 !important;

}
 
 .btnradio{
    margin-bottom: .0rem;
 }

 .row {
    margin-right: -15px;
    margin-left: -15px;
}
  
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}