html, body {
    height:100%;
}
body
{
    background-color: white;
    background-image: url('/real-estates/img/background.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
}



.center {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

.hidden {
    display: none;
}
