body{background:#fff;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
@media(min-width:992px) {
#wrapper{margin-left: 200px;padding: 70px 15px 15px;}
.navbar-nav.side-nav{background: #134d1f;position:fixed;top:50px;flex-direction: column;left:0;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.rigth_menu{
    position: fixed;
    right: 20px;
}

.table_button{    
    margin-top: -5 !important;
    margin-bottom: 10px !important;
    margin-left: -5 !important;
    margin-left: -6 !important;
    margin-left: -8 !important;
    margin-left: -7 !important;
    margin-top: -3 !important;

}

.filebtn {
    position: relative;
    overflow: hidden;
  }
.profileImageUpload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }

 
 .btnradio{
    margin-bottom: .0rem;
 }

 .row {
    margin-right: -15px;
    margin-left: -15px;
}
  
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(80, 10, 211, 0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.profile_img{
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.max-width{
   
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    white-space: initial; 
}
.timeli{
    display: inline-block;
    margin-left: -45px;
    padding-bottom: 5px;
}


.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.nav-tabs-custom>.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}

.nav-tabs-custom>.nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tab-content>.active {
    display: block;
}
 
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline>.time-label>span {
    font-weight: 200;
    padding: 2px;
    display: inline-block;
    background-color: #fff;
   
}
.bg-red {
    background-color: #dd4b39 !important;
    color: #fff !important;
}
.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}
.bg-blue {
    background-color: #0073b7 !important;
    color: #fff !important;
}

.timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}
.timeline-inverse>li>.timeline-item>.timeline-header {
    border-bottom-color: #ddd;
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline>li>.timeline-item>.timeline-body, .timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
}



.bg-blue {
    background-color: #0073b7 !important;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 10%;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.box-real{

    margin: 10px;
}

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    -webkit-box-shadow: 0 0 5px solid currentColor;
            box-shadow: 0 0 5px solid currentColor;
  }
  .inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 5em;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.25em dashed currentColor;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .inputDnD .form-control-file:hover:before {
    border-style: solid;
    -webkit-box-shadow: inset 0px 0px 0px 0.25em currentColor;
            box-shadow: inset 0px 0px 0px 0.25em currentColor;
  }
  
  body {
    background-color: #f7f7f9;
  }

  div.error-message{
      color: red;
      font-size: 14px;
  }


  .index_img{
      width: 280px !important;
      height: 150px !important;
  }

  .max-heigth{
    height: 450px !important;
    width: 750px !important;
  }
  
  .navbar-dark{background-color: #134d1f !important;} 
  .bg-dark{background-color: #134d1f !important;}